<!DOCTYPE html>
<html>
    <body>
        <h1>Homepage</h1>
        <br>
        <br>
        <a href="/plot_co2">plot C02 over time</a>
        <br>
        <br>
        <a href="/plot_co2_country">plot CO2 levels for countries</a>
        <br>
        <br>
        <a href="/plot_temp">plot temperature over time</a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/documentation">Help -- Documentation</a>
        <br>
        <br>
    </body>
</html>