<!DOCTYPE html>
<html>
<body>
    <h1>CO2 levels by country</h1>
   
    
    <form action="/plot_co2" method="POST">
    

    <b>Year:</b>
    <br>
    <select id="year" name="year"> </select>
        
    <script>
        var year_options = "";
        for (i = 2016; i >= 1960; i--) {
            year_options += "<option value=" + i + ">" + i + "</option>";
        }
        document.getElementById("year").innerHTML = year_options;

    </script>

    <br>
    <br>
    <br>
    <b>Range of emissions:</b>
    <br>
    <b>lower:</b>
    <br>
    <input type="number" name="lower" value="">
    <br>
    <b>upper:</b>
    <br>
    <input type="number" name="upper" value="">
    <br>
    <p><input type="submit" value="submit" /></p>
    </form>
    <img src="{{picture}}" alt="" ,width="420" height="420">

</body>
</html>