<!DOCTYPE html>
<html>
<body>
    <form action="/">
        <input type="submit" value="Home" />
    </form>
    <h1>CO2 levels by country</h1>
    
    <form action="/plot_co2_country" method="POST">

    <b>Year:</b>
    <br>
    <select id="year" name="year"> </select>

    <script>
        var year_options = "";
        for (i = 2015; i >= 1960; i--) {
            year_options += "<option value=" + i + ">" + i + "</option>";
        }
        document.getElementById("year").innerHTML = year_options;
    </script>
    
    <br>
    <br>
    <br>
    <b>Range of emissions:</b>
    <br>
    <b>Upper:</b>
    <br>
    <input name="upper" value="">
    <br>
    <b>Lower:</b>
    <br>
    <input name="lower" value="">
    <br>
    <p><input type="submit" value="submit" /></p>
    </form>
    <img src="{{picture}}" alt="" ,width="420" height="420">

</body>
</html>